<div class="panel panel-default">
  <div class="panel-heading">
    Meninas e Moças
  </div>
  <div class="panel-body">
    <div id="container-meninas" class="clearfix row">
      <!-- Contagem das continuações de meninas -->
      <div id="contagem-meninas" class="col-md-8">
        <!-- Continuação das meninas -->
        <div class="form-group" ng-repeat="meninas in vm.mocidade | filter: { gender: 'menina' }">
          <select class="form-control" ng-model="meninas.gender">
            <option value="menina" selected>Meninas</option>
            <option value="moca">Moças</option>
          </select>
          <input class="form-control" type="number" min="0" ng-model="meninas.total" ng-value="meninas.total">
        </div>
      </div>

      <!-- Somatório de meninas -->
      <div id="total-meninas" class="col-md-4">
        <div class="col-xs-10">Total de Meninas</div>
        <h3 class="col-xs-2 no-mg-tp text-right">{{ (vm.mocidade | filter: { gender: 'menina' }).Sum('total') }}</h3>
      </div>
    </div>

    <hr>

    <div id="container-mocas" class="clearfix row">
      <!-- Contagem das continuações de moças -->
      <div id="contagem-mocas" class="col-md-8">
        <!-- Continuação das moças -->
        <div class="form-group" ng-repeat="mocas in vm.mocidade | filter: { gender: 'moca' }">
          <select class="form-control" ng-model="mocas.gender">
            <option value="menina">Meninas</option>
            <option value="moca" selected>Moças</option>
          </select>
          <input class="form-control" type="number" min="0" ng-model="mocas.total" ng-value="mocas.total">
        </div>
      </div>

      <!-- Somatório de moças -->
      <div id="total-mocas" class="col-md-4">
        <div class="col-xs-10">Total de Moças</div>
        <h3 class="col-xs-2 no-mg-tp text-right">{{ (vm.mocidade | filter: { gender: 'moca' }).Sum('total') }}</h3>
      </div>
    </div>

    <hr>

    <!-- Total de meninas e moças -->
    <div id="total-meninas-mocas" class="row">
      <div class="col-xs-8">Total de Meninas e Moças</div>
      <h2 class="col-xs-4 no-mg-tp text-right">{{ (vm.mocidade | filter: vm.girlAndYoungWomanFilter).Sum('total') }}</h2>
    </div>

    <!-- Adicionar mais uma continuação -->
    <button type="button" id="adicionar-meninas" class="btn btn-primary" ng-click="vm.addFemaleContinuation()">Adicionar continuação</button>
  </div>
</div>